In [11]:
1

1

In [12]:
1.0

1.0

1

In [13]:
1+1

2

In [14]:
1*3

3

In [16]:
1/2.0

0.5

In [17]:
2 ** 4

16

In [18]:
num = 12
name = 'Sam'

In [19]:
"My number is {} and my name is {}".format(num,name)

'My number is 12 and my name is Sam'

In [1]:
d = {"key1":1, "key2":2}

In [3]:
d["key2"]

2

In [4]:
1 < 23

True

In [5]:
s = {1,1,1,1,2,2,2,3,3,3}

In [6]:
s

{1, 2, 3}

In [7]:
t = (1,2,3)

In [8]:
t[0]

1

In [9]:
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [10]:
s

{1, 2, 3}

In [16]:
if 1 > 2:
    print("yep!")
else:
    print("nope!")

nope!

In [17]:
seq = [1,2,3,4,5,6]

In [18]:
for item in seq:
    print(item)

1
2
3
4
5
6

In [19]:
i = 1

while i < 5:
    print("i is: {}".format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

In [21]:

for x in range(0,5):
    print(x)

0
1
2
3
4

In [23]:
def sum(a,b):
    return a + b

In [24]:
num = sum(1,2)

In [25]:
num

3

In [26]:
def times2(var):
    return var*2

In [27]:
times2(5)

10

In [28]:
seq = [1,2,3,4,5]

In [32]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [33]:
s = "hello my name is Sam"

In [34]:
s.lowe()

AttributeError: 'str' object has no attribute 'lowe'

In [35]:
s.lower()

'hello my name is sam'

In [36]:
s.upper()

'HELLO MY NAME IS SAM'

In [37]:
s.split()

['hello', 'my', 'name', 'is', 'Sam']

In [38]:
tweet = "Go Sports! #sports"

In [40]:
tweet.split('#')

['Go Sports! ', 'sports']

In [41]:
tweet.split("#")[1]

'sports'

In [42]:
d

{'key1': 1, 'key2': 2}

In [43]:
d = {'k1':1,'k2':2}

In [44]:
d.keys()

dict_keys(['k1', 'k2'])

In [45]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [47]:
d.values()

dict_values([1, 2])

In [48]:
lst = [1,2,3]

In [49]:
lst.pop()

3

In [50]:
lst

[1, 2]

In [51]:
item = lst.pop()

In [52]:
item

2

In [53]:
'x' in [1,2,3]

False

In [54]:
'x' in [1,2,3,'x']

True

In [55]:
x = [(1,2),(3,4),(5,6)]

In [56]:
x[0][1]

2

In [62]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6